<h2><b>Katrina Forum</b></h2>
<hr>
<center>
<% @posts.each do |x| %>
	<div style="background-color: #cc6699 width: 50%; ">
		<br><br>
		<%= image_tag x.image.url(:medium) %><br><br>
		<p style="text-align: justify; margin-left: 2%; margin-bottom: 5%;margin-right: 2%;">
			<b> <%= current_user.email %> :</b> <%= x.description %><br><br>
		</p>
	</div>
<% end %>
</center>